
<!DOCTYPE html>
<html  lang="en">
  <head>
    <title>Home</title>

 <link rel="icon" href="images/logo-200x45.png" type="image/png">
    <!-- Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700,900">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
  </head>
  <body>
      <!-- Page Header-->
      <div class="container">
        <nav class="navbar navbar-expand-lg ">
          <a class="navbar-brand" href="index.html"><img src="images/logo-200x45.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-5">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link " href="services.html">Transaction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="blog.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="login.html">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="contacts.html">Contacts</a>
              </li>
            </ul>
           
          </div>
        </nav>
        </div>
      <!-- Breadcrumbs -->
      <section class="section section-bredcrumbs">
        <div class="container context-dark breadcrumb-wrapper">
          <h1>About us</h1>
          <ul class="breadcrumbs-custom">
            <li><a href="index.html">Home</a></li>
            <li class="active">About us</li>
          </ul>
        </div>
      </section>
      <!-- Join Our Team-->
      <section class="section section-lg custom-image-section">
        <div class="container relative-container">
          <div class="row row-30 row-md-60 justify-content-between">
            <div class="col-md-12">
              <h2>Overview</h2>
            </div>
            <div class="col-md-6">
              <div class="heading-6">Lorem ipsum dolor sit amet, scripta legimus quaerendum ex vis, audire nonumes his an. Decore tamquam insolens usu.</div>
              <p>Lorem ipsum dolor sit amet, scripta legimus quaerendum ex vis, audire nonumes his an. Decore tamquam insolens usu, an duo omnium debitis adipiscing, ne postulant. Lorem ipsum dolor sit amet, scripta legimus quaerendum ex vis, audire nonumes his an. Decore tamquam insolens usu, an duo omnium debitis adipiscing, ne postulant.</p><a class="button button-lg button-primary" href="services.html">Read More About Us</a>
            </div>
            <div class="col-md-6 col-lg-5">
              <div class="progress-linear-wrap">
                <!-- Linear progress bar-->
                <article class="progress-linear">
                  <div class="progress-header">
                    <p>Financial Consulting</p><span class="progress-value">75</span>
                  </div>
                  <div class="progress" style="height: 1px;">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </article>
                <!-- Linear progress bar-->
                <article class="progress-linear">
                  <div class="progress-header">
                    <p>Online Reporting</p><span class="progress-value">50</span>
                  </div>
                  <div class="progress" style="height: 1px;">
                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </article>
                <!-- Linear progress bar-->
                <article class="progress-linear">
                  <div class="progress-header">
                    <p>Online Banking</p><span class="progress-value">75</span>
                  </div>
                  <div class="progress" style="height: 1px;">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </article>
                <!-- Linear progress bar-->
                <article class="progress-linear">
                  <div class="progress-header">
                    <p>24/7 Support</p><span class="progress-value">75</span>
                  </div>
                  <div class="progress" style="height: 1px;">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </article>
              </div>
            </div>
          </div><img class="img-bordered image-item" src="images/about-1-470x312.jpg" alt="" width="470" height="312"/>
        </div>
      </section>
     
      <!-- Testimonials-->
      <section class="section section-lg">
        <div class="container text-center">
          <h2 class="custom-title"><span>Testimonials</span></h2>
          <div class="container">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-caption">
                            <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen. </p> <img src="https://i.imgur.com/lE89Aey.jpg">
                            <div id="image-caption">Nick Doe</div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen.</p> <img src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid">
                            <div id="image-caption">Cromption Greves</div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen.</p> <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid">
                            <div id="image-caption">Harry Mon</div>
                        </div>
                    </div>
                </div> <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i class='fa fa-arrow-left'></i> </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i class='fa fa-arrow-right'></i> </a>
            </div>
        </div>
        </div>
      </section>
        <!-- Page Footer-->
        <footer class="section footer-2">
          <div class="container">
            <div class="row row-40">
              <div class="col-md-6 col-lg-3"><a class="footer-logo" href="index.html"><img src="images/logo-200x45.png" alt="" width="200" height="45"/></a>
                <p>Prosperity is the leading financial establishment providing high-quality international banking services. We are always ready to partner with you by offering full financial support to individuals and companies worldwide.</p>
              </div>
              <div class="col-md-6 col-lg-3">
                <h5 class="title">Contact Information</h5>
                <ul class="contact-box">
                  <li>
                    <div class="unit unit-horizontal unit-spacing-xxs">
                      <div class="unit-left"><i class="fa fa-map-marker"></i></div>
                      <div class="unit-body"><a href="#">2130 Fulton Street, <br class="veil reveal-lg-inline">San Diego, CA 94117-1080 USA</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-horizontal unit-spacing-xxs">
                      <div class="unit-left"><i class="fa fa-phone"></i></div>
                      <div class="unit-body">
                        <ul class="list-phones">
                          <li><a href="tel:#">1-800-1234-567</a></li>
                          <li><a href="tel:#">1-800-1234-567</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-horizontal unit-spacing-xxs">
                      <div class="unit-left"><i class="fa fa-envelope"></i></div>
                      <div class="unit-body"><a href="mailto:#">info@demolink.org</a></div>
                    </div>
                  </li>
                </ul>
                <div class="group-md group-middle social-items"><a href="#"><i class="fa fa-facebook-f"></i> </a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class='fa fa-comment'></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-snapchat"></i></a></div>
              </div>
              <div class="col-md-6 col-lg-3">
                <h5 class="title">Gallery</h5>
                <ul class="instafeed instagram-gallery" data-lightgallery="group">
                  <li><img src="images/insta-gallery-1-72x72.jpg" alt="" width="72" height="72"/>
                  </li>
                  <li><img src="images/insta-gallery-2-72x72.jpg" alt="" width="72" height="72"/>
                  </li>
                  <li><img src="images/insta-gallery-3-72x72.jpg" alt="" width="72" height="72"/>
                  </li>
                  <li><img src="images/insta-gallery-4-72x72.jpg" alt="" width="72" height="72"/>
                  </li>
                  <li><img src="images/insta-gallery-5-72x72.jpg" alt="" width="72" height="72"/>
                  </li>
                  <li><img src="images/insta-gallery-6-72x72.jpg" alt="" width="72" height="72"/>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-3">
                <h5 class="title">Newsletter</h5>
                <p>Keep up with our always upcoming news and updates. Enter your e-mail and subscribe to our newsletter.</p>
                <!-- RD Mailform-->
                <form class="rd-form form-sm rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                  <div class="form-wrap">
                    <input class="form-input" id="newsletter-email" type="email" name="email" placeholder="Enter Your e-mail" >
 
                  </div>
                  <button class="button button-primary" type="submit">Subscribe</button>
                </form>
              </div>
            </div>
            <!-- Rights-->
            <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>All rights reserved</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
          </div>
        </footer>
      </div>
      <!-- PANEL-->
     <style>
       .test {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #7bb0e3;
    font-family: 'Open Sans'
}

#demo {
    background: linear-gradient(112deg, #ffffff 50%, #7bb0e3 50%);
    max-width: 900px;
    margin: auto
}
h2.custom-title {
    margin-bottom: 37px;
}
.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

.carousel-caption img {
    width: 100px;
    border-radius: 5rem;
    margin-top: 2rem;
    height: 100px !important;
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

#demo i {
    background-color: rgb(223, 56, 89);
    padding: 1.4rem
}

@media(max-width:767px) {
 #demo i {
        padding: 0.8rem
    }
}

.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
}
     </style>
      <!-- Javascript-->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </html>