
<!DOCTYPE html>
<html  lang="en">
  <head>
    <title>Home</title>

 <link rel="icon" href="images/logo-200x45.png" type="image/png">
    <!-- Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700,900">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
    <link rel="stylesheet" href="css/style.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
  </head>
  <body>
   
     <!-- Page Header-->
     <div class="container">
      <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="index.html"><img src="images/logo-200x45.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link " href="services.html">Transaction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="blog.html">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="login.html">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="contacts.html">Contacts</a>
            </li>
          </ul>
         
        </div>
      </nav>
      </div>
      <!-- Breadcrumbs -->
      <section class="section section-bredcrumbs">
        <div class="container context-dark breadcrumb-wrapper">
          <h1>Classic blog</h1>
          <ul class="breadcrumbs-custom">
            <li><a href="index.html">Home</a></li>
            <li class="active">Classic blog</li>
          </ul>
        </div>
      </section>
      <!-- Overview-->
      <section class="section section-lg">
        <div class="container">
          <div class="row justify-content-sm-center">
            <div class="col-md-10 col-xl-8">
              <article class="post-classic"><a class="media-wrapper" href="single-post.html"><img src="images/classic-blog-1-770x456.jpg" alt="" width="770" height="456"/></a>
                <div class="post-meta-main">
                  <div class="post-meta-item">
                    <div class="post-meta">
                      <div class="post-meta-item">
                        <ul class="list-tags">
                          <li><a class="tag" href="single-post.html">News</a>
                          </li>
                        </ul>
                      </div>
                      <div class="post-meta-item">
                        <div class="post-author"><span>by</span> <a href="single-post.html">Martha Ryan</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="post-meta-item">
                    <div class="post-date">2 days ago</div>
                  </div>
                </div>
                <h3 class="post-title"><a href="single-post.html">7 Services That Can Save Retirees Money</a></h3>
                <p class="post-exeption">Lorem ipsum dolor sit amet, qui tollit laoreet ocurreret id, ne vis melius offendit appetere, ius timeam percipit argumentum id. His mutat nostrum ad, ei qui nostro aeterno recteque, aperiam quaerendum id has. Quod tantas volumus eu eum, mei appetere honestatis an. Dico apeirian qui ad, pri eu munere menandri maluisset.</p>
              </article>
              <article class="post-classic"><a class="media-wrapper" href="single-post.html"><img src="images/classic-blog-2-770x456.jpg" alt="" width="770" height="456"/></a>
                <div class="post-meta-main">
                  <div class="post-meta-item">
                    <div class="post-meta">
                      <div class="post-meta-item">
                        <ul class="list-tags">
                          <li><a class="tag" href="single-post.html">News</a>
                          </li>
                        </ul>
                      </div>
                      <div class="post-meta-item">
                        <div class="post-author"><span>by</span> <a href="single-post.html">Martha Ryan</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="post-meta-item">
                    <div class="post-date">2 days ago</div>
                  </div>
                </div>
                <h3 class="post-title"><a href="single-post.html">Stocks Could Surge Another 10% Between Now And 2018, Financial Experts Say</a></h3>
                <p class="post-exeption">Lorem ipsum dolor sit amet, qui tollit laoreet ocurreret id, ne vis melius offendit appetere, ius timeam percipit argumentum id. His mutat nostrum ad, ei qui nostro aeterno recteque, aperiam quaerendum id has. Quod tantas volumus eu eum, mei appetere honestatis an. Dico apeirian qui ad, pri eu munere menandri maluisset.</p>
              </article>
              <article class="post-classic"><a class="media-wrapper" href="single-post.html"><img src="images/classic-blog-3-770x456.jpg" alt="" width="770" height="456"/></a>
                <div class="post-meta-main">
                  <div class="post-meta-item">
                    <div class="post-meta">
                      <div class="post-meta-item">
                        <ul class="list-tags">
                          <li><a class="tag" href="single-post.html">News</a>
                          </li>
                        </ul>
                      </div>
                      <div class="post-meta-item">
                        <div class="post-author"><span>by</span> <a href="single-post.html">Martha Ryan</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="post-meta-item">
                    <div class="post-date">2 days ago</div>
                  </div>
                </div>
                <h3 class="post-title"><a href="single-post.html">Wall Street Analysts Are Nailing It This Year</a></h3>
                <p class="post-exeption">Lorem ipsum dolor sit amet, qui tollit laoreet ocurreret id, ne vis melius offendit appetere, ius timeam percipit argumentum id. His mutat nostrum ad, ei qui nostro aeterno recteque, aperiam quaerendum id has. Quod tantas volumus eu eum, mei appetere honestatis an. Dico apeirian qui ad, pri eu munere menandri maluisset.</p>
              </article>
              <article class="post-classic"><a class="media-wrapper" href="single-post.html"><img src="images/classic-blog-4-770x456.jpg" alt="" width="770" height="456"/></a>
                <div class="post-meta-main">
                  <div class="post-meta-item">
                    <div class="post-meta">
                      <div class="post-meta-item">
                        <ul class="list-tags">
                          <li><a class="tag" href="single-post.html">News</a>
                          </li>
                        </ul>
                      </div>
                      <div class="post-meta-item">
                        <div class="post-author"><span>by</span> <a href="single-post.html">Martha Ryan</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="post-meta-item">
                    <div class="post-date">2 days ago</div>
                  </div>
                </div>
                <h3 class="post-title"><a href="single-post.html">Cash Faces a New Challenger in Zelle, a Mobile Banking Service</a></h3>
                <p class="post-exeption">Lorem ipsum dolor sit amet, qui tollit laoreet ocurreret id, ne vis melius offendit appetere, ius timeam percipit argumentum id. His mutat nostrum ad, ei qui nostro aeterno recteque, aperiam quaerendum id has. Quod tantas volumus eu eum, mei appetere honestatis an. Dico apeirian qui ad, pri eu munere menandri maluisset.</p>
              </article>
              <!-- Bootstrap Pagination-->
              <nav class="page-navigation" aria-label="Page navigation">
                <ul class="pagination">
                  <!--li.page-item.page-item-control(class={'disabled': active === 1})-->
                  <!--	a.page-link(href='#' aria-label="Previous")-->
                  <!--		span.icon(aria-hidden='true')-->
                  <li class="page-item active"><span class="page-link">1</span></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <!--li.page-item.page-item-control(class={'disabled': (indexes.length === active || indexes === active)})-->
                  <!--	a.page-link(href='#' aria-label="Next")-->
                  <!--		span.icon(aria-hidden='true')-->
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
        <!-- Page Footer-->
        <footer class="section footer-2">
          <div class="container">
            <div class="row row-40">
              <div class="col-md-6 col-lg-3"><a class="footer-logo" href="index.html"><img src="images/logo-200x45.png" alt="" width="200" height="45"/></a>
                <p>Prosperity is the leading financial establishment providing high-quality international banking services. We are always ready to partner with you by offering full financial support to individuals and companies worldwide.</p>
              </div>
              <div class="col-md-6 col-lg-3">
                <h5 class="title">Contact Information</h5>
                <ul class="contact-box">
                  <li>
                    <div class="unit unit-horizontal unit-spacing-xxs">
                      <div class="unit-left"><i class="fa fa-map-marker"></i></div>
                      <div class="unit-body"><a href="#">2130 Fulton Street, <br class="veil reveal-lg-inline">San Diego, CA 94117-1080 USA</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-horizontal unit-spacing-xxs">
                      <div class="unit-left"><i class="fa fa-phone"></i></div>
                      <div class="unit-body">
                        <ul class="list-phones">
                          <li><a href="tel:#">1-800-1234-567</a></li>
                          <li><a href="tel:#">1-800-1234-567</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-horizontal unit-spacing-xxs">
                      <div class="unit-left"><i class="fa fa-envelope"></i></div>
                      <div class="unit-body"><a href="mailto:#">info@demolink.org</a></div>
                    </div>
                  </li>
                </ul>
                <div class="group-md group-middle social-items"><a href="#"><i class="fa fa-facebook-f"></i> </a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class='fa fa-comment'></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-snapchat"></i></a></div>
              </div>
              <div class="col-md-6 col-lg-3">
                <h5 class="title">Gallery</h5>
                <ul class="instafeed instagram-gallery" data-lightgallery="group">
                  <li><img src="images/insta-gallery-1-72x72.jpg" alt="" width="72" height="72"/>
                  </li>
                  <li><img src="images/insta-gallery-2-72x72.jpg" alt="" width="72" height="72"/>
                  </li>
                  <li><img src="images/insta-gallery-3-72x72.jpg" alt="" width="72" height="72"/>
                  </li>
                  <li><img src="images/insta-gallery-4-72x72.jpg" alt="" width="72" height="72"/>
                  </li>
                  <li><img src="images/insta-gallery-5-72x72.jpg" alt="" width="72" height="72"/>
                  </li>
                  <li><img src="images/insta-gallery-6-72x72.jpg" alt="" width="72" height="72"/>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-3">
                <h5 class="title">Newsletter</h5>
                <p>Keep up with our always upcoming news and updates. Enter your e-mail and subscribe to our newsletter.</p>
                <!-- RD Mailform-->
                <form class="rd-form form-sm rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                  <div class="form-wrap">
                    <input class="form-input" id="newsletter-email" type="email" name="email" data-constraints="@Email @Required">
                    <label class="form-label" for="newsletter-email">Enter your e-mail</label>
                  </div>
                  <button class="button button-primary" type="submit">Subscribe</button>
                </form>
              </div>
            </div>
            <!-- Rights-->
            <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>All rights reserved</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
          </div>
        </footer>
      </div>
      <!-- PANEL-->
     
      <!-- Javascript-->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </html>