{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="col">
        </div>
            <form action="{% url 'add_client' %}" method="post">
                {% csrf_token %}  
                {{ clients_form|crispy }}      
                <button  type="submit">Submit</button>
            </form>
        <div class="col">
        </div>
    </div>
</body>
</html>