{% include 'base/header.html' %}
{% load static %}
{% load crispy_forms_tags %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <section class="section section-bredcrumbs">
    <div class="container context-dark breadcrumb-wrapper">
      <h1> Edit Clients</h1>
      <ul class="breadcrumbs-custom">
        <li><a href="index.html">Home</a></li>
        <li class="active">Edit Clients</li>
      </ul>
    </div>
  </section>
  <div class="container">
    <div class="row">
    <div class="col-md"></div>
    <div class="col-md-6 my-5">
      <div class="card p-3">
        <div class="text-center">
        <h3>Edit Clients</h3>
        </div>
        <div id="endpoint-url-div" url="{% url 'editclient' clientid %}" style="display: none;"></div>
        <!-- <h4>Edit </h4> -->
        <form id="editform" method="post">
          {% csrf_token %}
          {{ Editform|crispy }}
          <button type="submit" class="btn btn-primary" type="submit">Update</button>
        </form>
      </div>
    </div>
    <div class="col-md"></div>
  </div>
</div>




<script>
  $(document).ready(function () {
    $("#editform").submit(function (event) {
      event.preventDefault();
      var serializedData = $(this).serialize();
      // var id = $('#clientid').text()
      var endpoint = document.getElementById('endpoint-url-div').getAttribute('url');
      $.ajax({
        type: "POST",
        headers: {
          "X-CSRFToken": '{{csrf_token}}'
        },
        url: endpoint,
        data: $(this).serialize(), //only input
        success: function (response) {
          console.log(response);
          window.setTimeout(function () {
            window.location.href = "{% url 'clients' %}";
          }, 1000);

        }
      });

    });
  });
</script>
{% include 'base/footer.html' %}