{% include 'base/header.html' %}
{% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <section class="section section-bredcrumbs">
    <div class="container context-dark breadcrumb-wrapper">
      <h1> Foreign Login</h1>
      <ul class="breadcrumbs-custom">
        <li><a href="index.html">Home</a></li>
        <li class="active">Foreign Login</li>
      </ul>
    </div>
  </section>

  <div class="login">
    <div class="container">
      <div class="row">
        <div class="col"></div>

        <div class="col-md-6 my-5">
          <div class="card p-4">
            <div class="text-center mb-4">
              <h3>Foreign Login</h3>
            </div>
            
            <form id="form" autocomplete="off">
              {% csrf_token %}
              <div class="mb-3">
                <label for="" class="form-label"></label>
                <input type="text" class="form-control" name="username" id="" Required placeholder="Username">
                            </div>
                            <div class=" mb-3">
                <label for="exampleInputPassword1" class="form-label"></label>
                <input type="password" class="form-control" name="password" id="" required placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary" id="btnSubmit">Login</button>
            </form>
          </div>
        </div>
        <div class="col">

        </div>

      </div>
    </div>
  </div>
</body>
{% include 'base/footer.html' %}
</html>

<script>
  $(document).ready(function () {
    $("#form").submit(function (event) {
      console.log(event.target)
      event.preventDefault();
      var serializedData = $(this).serialize();
      $.ajax({
        type: "POST",
        headers: {
          "X-CSRFToken": '{{csrf_token}}'
        },
        url: "{% url 'foreign_login' %}",
        data: $(this).serialize(), //only input
        success: function (response) {
          console.log(response);
          window.setTimeout(function () {
            window.location.href = "{% url 'show_foreign_transaction'%}";
          }, 1000);

        }
      });

    });
  });
</script>