{% include 'base/header.html' %}
{% load static %}
    <!-- Swiper-->
     <section class="slider">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'admin/img/slider-10-1920x1280.jpeg' %}" alt="First slide">
           
              <div class="carousel-caption d-none d-md-block">
                <h1 class="text-white">Where You Know Your Banker and Your Banker Knows You</h1>
                <button class="btn btn-primary btn-lg" type="button">Learn More</button>

            
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'admin/img/slider-8-1920x1328.jpeg' %}" alt="Second slide">
            
              <div class="carousel-caption d-none d-md-block">
                <h1 class="text-white">Where You Know Your Banker and Your Banker Knows You</h1>
                <button class="btn btn-primary btn-lg" type="button">Learn More</button>
              </div>
           
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'admin/img/slider-9-1920x1328.jpg' %}" alt="Third slide">
            
              <div class="carousel-caption d-none d-md-block">
                <h1  class="text-white">Where You Know Your Banker and Your Banker Knows You</h1>
                <button class="btn btn-primary btn-lg" type="button">Learn More</button>
              </div>
           
          </div>
        </div>
        
      </div>
      <ul class="links">
        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class='fa fa-comment'></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-snapchat"></i></a></li>
      </ul>
     </section>
     
      <!-- Advantages-->
      <section class="section context-dark">
        <div class="row row-flex no-gutters">
          <div class="col-md-6 col-lg-3">
            <div class="blurb-boxed-2">
              <img src=" {% static 'admin/img/bannericon2.png' %}">
              <h6 class="title">More than <span class="font-weight-bold">23 754</span> Issued Cards</h6>
              <p class="exeption">Our bank is an acknowledged leader in credit card distribution. We issue more than 5000 cards every year.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="blurb-boxed-2 blurb-boxed-dark">
              <img src="{% static 'admin/img/bannericon1.png' %}">
              <h6 class="title">Up to <span class="font-weight-bold">30%</span> Cashback</h6>
              <p class="exeption">We offer an amazing amount of cashback for payments made with one of our credit cards - Blue, Green, or Orange.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="blurb-boxed-2 blurb-boxed-darker">
              <img src="{% static 'admin/img/bannericon.png' %}">
              <h6 class="title">Up to <span class="font-weight-bold">25%</span> for Deposits</h6>
              <p class="exeption">Prosperity offers various deposits in all international currencies with interest rate up to 25% for all regular clients.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="blurb-boxed-2 blurb-boxed-darkest">
              <p class="exeption">The Best Choice 2018</p>
              <h5 class="title">Reliable and Secure Credit Cards and Deposits for You</h5><a class="button button-lg button-icon button-icon-left button-primary" href="#"><span class="icon mdi mdi-credit-card"></span>Order a Card</a>
            </div>
          </div>
        </div>
      </section>
      <!-- The Best Banking Choise-->
     
      {% include 'base/footer.html' %}