
{% include 'base/header.html' %}
{% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <section class="section section-bredcrumbs">
    <div class="container context-dark breadcrumb-wrapper">
      <h1> All Clients</h1>
      <ul class="breadcrumbs-custom">
        <li><a href="index.html">Home</a></li>
        <li class="active">All Clients</li>
      </ul>
    </div>
  </section>
    
      <section class="container">
        <div class="text-right mt-3">
          <a href="{% url 'add_Client' %}" class="btn btn-outline-success" >Create Client</a>
        </div>
        <div class="card my-5 p-3">
          <div class="text-center mb-4">
            <h3>All Clients</h3>
            </div>
          <table id="example" class="table table-striped table-bordered" style="width:100%">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Account Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data in clients_data %}
                <tr>
                    <td>{{data.name}}</td>
                    <td>{{data.address}}</td>
                    <td>{{data.accountnumber}}</td>
                    <td style="display:none" id="id">{{data.id}}</td>
                    <td><a href="{% url 'edit_Client' data.id %}" id="click_btn" class="btn btn-success btn-sm">Edit</a></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        </div>
      </section>
      <!-- Call to action-->

    </div>
    <!-- PANEL-->
   <script>
     $(document).ready(function() {
    $('#example').DataTable();
} );
   </script>
 
 
   <script>
    $('#click_btn').click(function(){
        var id = $(this).prev().attr('id');
        console.log(id)
     
    })
</script>

{% include 'base/footer.html' %}