{% include 'base/header.html' %}
{% load static %}

<script src=" https://code.jquery.com/jquery-3.5.1.js"></script>

<!-- Breadcrumbs -->
<section class="section section-bredcrumbs">
  <div class="container context-dark breadcrumb-wrapper">
    <h1>
      Transaction</h1>
    <ul class="breadcrumbs-custom">
      <li><a href="index.html">Home</a></li>
      <li class="active">
        Transaction</li>
    </ul>
  </div>
</section>



<section class="container">
  <div style="display: none;" id="divSuccessMsg"  class="alert alert-success mt-5" role="alert"></div>
  <div style="display: none;" id="divErrorMsg"  class="alert alert-success mt-5" role="alert"></div>
  <div class="text-right mt-3">
    <a href="{% url 'create_transanction' %}" class="btn btn-outline-success">Create Transaction</a>
  </div>
  <div class="text-center mt-5">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="    display: flex;
        justify-content: center;">
      <li onclick="setTab('pending');" class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
          aria-controls="pills-home" aria-selected="true">Pending</a>
      </li>
      <li onclick="setTab('confirm');" class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
          aria-controls="pills-profile" aria-selected="false">Confirm</a>
      </li>
      <li onclick="setTab('complete');" class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
          aria-controls="pills-contact" aria-selected="false">Completed</a>
      </li>
    </ul>
  </div>
  <div class="tab-content my-3" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <div class="row">
        <div class="col"></div>
        <div class="col-md-3 mb-3">
          <form id="dateform" method="post">
            {% csrf_token %}
            <label>Date :</label>
            <input type="date" name="date" class="form-control date" id="datepicker">
            <div class="text-right mt-3">
            <button dataa-url="{% url 'date' %}" class="submit_btn text-right btn btn-primary">Apply</button>
            </div>
          </form>
        </div>
      </div>
      <div class="card p-3 ">
        <table id="Pending" class="table table-striped table-bordered" style="width:100%">

          <thead>
            <tr>
              <th>Name</th>
              <th>Account Number</th>
              <th>To Bank</th>
              <th>Status</th>
              <th>Amount</th>
              <th>ForienBank Routing Number</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for data in Transaction_pending %}
            <tr>
              <td>{{data.Name_id}}</td>
              <td>{{data.Accountnumber}}</td>
              <td>{{data.toBank_id}}</td>
              <td>{{data.status}}</td>
              <td>{{data.amount}}</td>
              <td>{{data.ForiegnBankrountingnumber_id}}</td>
              <td>{{data.date}}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="row">
        <div class="col"></div>
        <div class="col-md-3 mb-3">
          <form id="dateform" method="post">
            {% csrf_token %}
            <label>Date :</label>
            <input type="date" name="date" class="form-control date" id="datepicker">
            <div class="text-right mt-3">
            <button dataa-url="{% url 'date' %}" class="submit_btn text-right btn btn-primary">Apply</button>
            </div>
          </form>
          <!-- <input type="date" class="form-control" id="datepicker"> -->
        </div>
      </div>
      <div class="card p-3">
        <table id="Confirm1" class="table table-striped table-bordered" style="width:100%">

          <thead>
            <tr>
              <th>Name</th>
              <th>Account Number</th>
              <th>To Bank</th>
              <th>Status</th>
              <th>Amount</th>
              <th>ForienBank Routing Number</th>
              <th>Date</th>
              <th>Status/Action</th>
            </tr>
          </thead>
          <tbody>
            {% for data in Transaction_confirm %}
            {{data.date}}
            <tr>
              <td>{{data.Name_id}}</td>
              <td>{{data.Accountnumber}}</td>
              <td>{{data.toBank_id}}</td>
              <td>{{data.status}}</td>
              <td>{{data.amount}}</td>
              <td>{{data.ForiegnBankrountingnumber_id}}</td>
              <td>{{data.confirmdate}}</td>
              <td><button data-url="{% url 'confirm_status' data.id %}" id="complete"
                  class="btn btn-success updateStatus" data-status="complete">Complete</button>
              </td>
            </tr>
            {% endfor %}
            {{ request.session.complete }}
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      <div class="row">
        <div class="col"></div>
        <div class="col-md-3 mb-3">



          <form id="dateform" method="post">
            {% csrf_token %}
            <label>Date :</label>
            <input type="date" name="date" class="form-control date" id="datepicker">
            <div class="text-right mt-3">
            <button dataa-url="{% url 'date' %}" class="submit_btn text-right btn btn-primary">Apply</button>
            </div>
          </form>


        </div>
      </div>
      <div class="card p-3">
        <table id="example1" class="table table-striped table-bordered" style="width:100%">

          <thead>
            <tr>
              <th>Name</th>
              <th>Account Number</th>
              <th>To Bank</th>
              <th>Status</th>
              <th>Amount</th>
              <th>ForienBank Routing Number</th>
              <th>Date</th>
              
            </tr>
          </thead>
          <tbody>

            {% for data in Transaction_completed %}
            <tr>
              <td>{{data.Name_id}}</td>
              <td>{{data.Accountnumber}}</td>
              <td>{{data.toBank_id}}</td>
              <td>{{data.status}}</td>
              <td>{{data.amount}}</td>
              <td>{{data.ForiegnBankrountingnumber_id}}</td>
              <td>{{data.completeddate}}</td>
            </tr>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>





  </div>
</section>
<!-- Call to action-->

</div>
<!-- PANEL-->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
  var typeTab = 'pending';

  function setTab(type) {
    typeTab = type;

  }
</script>

<script>
  $("#dateform").submit(function (e) {
    e.preventDefault()
    var date = $('.date').val();
    var url = $('.submit_btn').attr('dataa-url');
    // 
    console.log(url);;
    $.ajax({
      type: "POST",
      headers: {
        "X-CSRFToken": '{{csrf_token}}'
      },
      url: url,
      data: {
        date: date,
        type: typeTab
      }, //only input
      success: function (response) {
        console.log(response);
        if (response.instance == 'insatnce'){
          $('#divSuccessMsg').html(" successfull.").show()
        window.setTimeout(function () {
          location.reload();
        }, 1000);
        }else{
          $('#divErrorMsg').html('Invalid Crdenetials').show()
            window.setTimeout(function () {
              location.reload()
            }, 2000)
        }
      }
    });

  })
</script>

<!-- <script>
  $('#click').click(function() {
   var date = $( "#datepicker" ).datepicker({ dateFormat: "yy-m-dd" });
   console.log(date);
  } );
  </script> -->
<script>
  $(document).ready(function () {
    $('#Pending').DataTable();
    $('#Confirm1').DataTable();
    $('#example1').DataTable();
  });
</script>

<script>
  $(".updateStatus").click(function () {
    var status = $(this).attr('data-status');
    console.log(status)
    var url = $(this).attr('data-url');
    $.ajax({
      type: "POST",
      headers: {
        "X-CSRFToken": '{{csrf_token}}'
      },
      url: url,
      data: {
        status: status
      }, //only input
      success: function (response) {
        console.log(response);
        $('#divSuccessMsg').html(" successfull.").show()
        window.setTimeout(function () {
          location.reload();
        }, 1000);
      },
      error: function() {
            $('#divErrorMsg').html("Something is going wrong...")
            .show()
            .fadeIn(1500, function() { $('#divErrorMsg'); });
          }
    });

  })
</script>






{% include 'base/footer.html' %}