{% load crispy_forms_tags %}
{% include 'base/header.html' %}
{% load static %}

<script src=" https://code.jquery.com/jquery-3.5.1.js"></script>

<!-- Breadcrumbs -->
<section class="section section-bredcrumbs">
    <div class="container context-dark breadcrumb-wrapper">
        <h1>
         Create  Transaction</h1>
        <ul class="breadcrumbs-custom">
            <li><a href="index.html">Home</a></li>
            <li class="active">
                Create  Transaction</li>
        </ul>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-md-6 my-5">
            <div class="card p-3">
                <form id=transaction_form action="{% url 'make_transaction' %}" method="post">
                    {% csrf_token %}
                    {{ transaction_form|crispy }}
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#transaction_form").submit(function (event) {
            console.log(event.target)
            event.preventDefault();
            var serializedData = $(this).serialize();
            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'make_transaction' %}",
                data: serializedData, //only input
                success: function (response) {
                    console.log(response);
                    window.setTimeout(function () {
                        window.location.href = "{% url 'show_transaction'%}";
                    }, 3000);

                }
            });

        });
    });
</script>

{% include 'base/footer.html' %}